<html>

<body>
    <!-- filters  -->
    <div ng-show="show_all_shop">
        <div class="div_filters" id="div_filters">
            <form name="form_filters" class="form_filters">
                <div class="filters_content">
                    <div id="filters" class="filters">
                        <div class="filters1">
                            <p><u>SEARCH CAR:</u></p>
                            <hr class=hr-filter>
                            <div class="color">
                                <h4>COLOR:</h4>
                                <input type="checkbox" value="White" id="White" class="color" ng-model="color.White" ng-checked="">White</br>
                                <input type="checkbox" value="Blue" id="Blue" class="color" ng-model="color.Blue" ng-checked="">Blue</br>
                                <input type="checkbox" value="Black" id="Black" class="color" ng-model="color.Black" ng-checked="">Black</br>
                                <input type="checkbox" value="Red" id="Red" class="color" ng-model="color.Red" ng-checked="">Red</br>
                                <input type="checkbox" value="Grey" id="Grey" class="color" ng-model="color.Grey" ng-checked="">Grey</br>
                                <input type="checkbox" value="Orange" id="Orange" class="color" ng-model="color.Orange" ng-checked="">Orange</br>
                                <input type="checkbox" value="Brown" id="Brown" class="color" ng-model="color.Brown" ng-checked="">Brown</br>
                            </div>
                            <hr class=hr-filter>
                            <div class="doors">
                                <h4>NUMBER DOORS:</h4>
                                <input type="checkbox" name="doors" value="3" id="3" class="doors" ng-model="door.tres" ng-checked="">3</br>
                                <input type="checkbox" name="doors" value="5" id="5" class="doors" ng-model="door.cinco" ng-checked="">5</br>
                            </div>
                            <hr class=hr-filter>
                            <div class="doors">
                                <h4>CATEGORY:</h4>
                                <select name="select_cat" id="select_cat" ng-model="$root.shop_cat_selected">
                                    <option value = "" selected disabled hidden>select category</option>
                                    <option value="*" id="*">All</option>
                                    <option value="1" id="1">Km 0</option>
                                    <option value="2" id="2">Second Hand</option>
                                    <option value="3" id="3">Renting</option>
                                    <option value="4" id="4">Pre-Owned</option>
                                    <option value="5" id="5">Offer</option>
                                    <option value="6" id="6">New</option>
                                </select>
                            </div>
                            <hr class=hr-filter>
                            </br><input type="button" class="submit_filter" id="buttons_filters" value="SEARCH"
                                ng-click="search_filters_home(color, door, shop_cat_selected)">
                            <input type="button" class="remove_filters" id="buttons_filters" value="REMOVE"
                                ng-click="remove_filters_shop()"></br>
                        </div>
                        <div class="orderby_content">
                            <p>ORDER BY:</p>
                            <select id="orderby" ng-model="$root.select_orderby">    
                                <option value = "" selected disabled hidden>Order by...</option>
                                <option value="price">Price</option>
                                <option value="km">KM</option>
                            </select>
                            <input type="button" value="ORDER" class="order-btn"  ng-click="order_btn(select_orderby)"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- list-cars -->
        <div class="container_shop" id="content_shop_cars">
            <div ng-show="show_not_cars" class="no_results">
                <img src="/Framework_Concessionaire_PHP_OO_MVC_AngularJS1.4.9/frontend/views/img/no_results.png"
                    alt="no hay resultados">
            </div>
            <div class="list_content_shop" ng-repeat="car in select_cars">
                <div class='list_product'>
                    <div class='img-container'>
                        <img class="no_result"
                            src="/Framework_Concessionaire_PHP_OO_MVC_AngularJS1.4.9/frontend/{{car.img_car}}">
                    </div>
                    <div class='product-info'>
                        <div class='product-content'>
                            <h1><b>{{car.id_brand}} {{car.name_model}}<a class='list__heart' id="{{car.id_car}}"><i
                                            id="{{car.id_car}}" class="fa-solid fa-heart fa-lg"></i></a></b></h1>
                            <p>Up-to-date maintenance and revisions</p>
                            <ul>
                                <li> <i id='col-ico' class='fa-solid fa-road fa-xl'></i>&nbsp;&nbsp; {{car.Km}} KM</li>
                                <li> <i id='col-ico' class='fa-solid fa-person fa-xl'></i>&nbsp;&nbsp;&nbsp;{{car.gear_shift}}</li>
                                <li> <i id='col-ico' class='fa-solid fa-palette fa-xl'></i>&nbsp; {{car.color}}</li>
                            </ul>
                            <div class='buttons'>
                                <button class='more_info_list button add' ng-click="redirect_details()">More Info</button>
                                <button class='button buy'>Buy</button>
                                <span class='button' id='price'>{{car.price}} €</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id='div_map_shop'></div>
        <button class="separete_fotter"></button></br>
    </div>

    <!-- details-car -->
    <div id="details-shop" ng-show="show_car_details">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="img in imgs_details">
                <img class="imgs_cars_details"
                    src="/Framework_Concessionaire_PHP_OO_MVC_AngularJS1.4.9/frontend/{{img.img_cars}}">
            </slide>
        </carousel>

        <div class='product-content_details'>
            <h1><b> {{info_details.id_brand}} {{info_details.name_model}}</b></h1>
            <hr class=hr-shop>
            <table id='table-shop'>
                <tr>
                    <td> <i id='col-ico' class='fa-solid fa-road fa-2xl'></i> &nbsp; {{info_details.Km}} KM
                    </td>
                    <td> <i id='col-ico' class='fa-solid fa-person fa-2xl'></i> &nbsp;
                        {{info_details.gear_shift}} </td>
                </tr>
                <td> <i id='col-ico' class='fa-solid fa-car fa-2xl'></i> &nbsp; {{info_details.name_cat}}
                </td>
                <td> <i id='col-ico' class='fa-solid fa-door-open fa-2xl'></i> &nbsp;
                    {{info_details.num_doors}}</td>
                </tr>
                <td> <i id='col-ico' class='fa-solid fa-gas-pump fa-2xl'></i> &nbsp;
                    {{info_details.name_tmotor}}</td>
                <td> <i id='col-ico' class='fa-solid fa-calendar-days fa-2xl'></i> &nbsp;
                    {{info_details.matricualtion_date}}</td>
                </tr>
                <td> <i id='col-ico' class='fa-solid fa-palette fa-2xl'></i> &nbsp;{{info_details.color}}
                </td>
                <td> <i class='fa-solid fa-location-dot fa-2xl'></i> &nbsp;{{info_details.city}}</td>
                </tr>
            </table>
            <hr class=hr-shop>
            <h3><b>More Information:</b></h3>
            <p>This vehicle has a 2-year warranty and reviews during the first 6 months from its
                acquisition.</p>
            <div class='buttons_details'>
                <a class='button add' href='#'>Add to Cart</a>
                <a class='button buy' href='#'>Buy</a>
                <span class='button' id='price_details'> {{info_details.price}} <i class='fa-solid fa-euro-sign'></i>
                </span>
                <a class='details__heart' id="info_details.id_car"><i id=info_details.id_car
                        class='fa-solid fa-heart fa-lg'></i></a>
            </div>
        </div>
    </div>

    <div id='div_map_details' ng-show="show_map_details"></div>


    <!-- div_spiner -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <!-- div coches relacioandos -->
    <div class="results" ng-show="show_cars_related">
        <div class="title_content">
            <h2 class="cat">Cars related</h2>
            <div class="more_info_list" ng-repeat="car in info_cars_related">
                <div ng-click="redirect_details()">
                    <li class='portfolio-item'>
                        <div class='item-main'>
                            <div class='portfolio-image'>
                                <img src="/Framework_Concessionaire_PHP_OO_MVC_AngularJS1.4.9/frontend/{{car.img_car}}"
                                    alt='imagen car'>
                            </div>
                            <h5>{{car.id_brand}} {{car.name_model}}</h5>
                        </div>
                    </li>
                </div>
            </div>
            <button class="load_more_button" id="load_more_button" ng-click="more_cars_related()" ng-show="show_btn_car_releted">MORE CARS</button>
        </div>
    </div>
    <button class="separete_fotter"></button></br>

    <!-- paginacio -->
    <div id="pagination"></div>

</body>

</html>