<div class="recover-email-html">
    <br>
    <div class="recover-form-email">
        <h2><b> CHANGE PASSWORD</b></h2>
        <hr>
        <form id="rec_passwd_email" method="post">
            <div class="group">
                <label>EMAIL</label><br>
                <input id="email_rec" type="email" class="input" ng-model="email_rec">
                <span class="error">{{error_email_rec}}</span>
            </div>
        </form>
        <br />
        <div class="button__recover">
            <button ng-click="send_email_recover()" type="button" name="send_recover" id="send_recover">SEND EMAIL</button>
        </div>
    </div><br><br><br><br>
</div>