<div class="recover-email-html">
    <br>
    <div class="recover-form-email">
        <h2><b>RECOVER PASSWORD</b></h2>
        <hr>
        <form id="rec_passwd_email" method="post">
            <div class="group">
                <label>EMAIL</label><br>
                <input id="email_rec" type="email" class="input" name="email_rec">
                <span id="error_email_rec" class="error"></span>
            </div>
        </form>
        <br />
        <div class="button__recover">
            <button type="button" name="send_recover" id="send_recover">SEND EMAIL</button>
        </div>
    </div><br><br><br><br>
</div>