<html>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
                In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">

                <form id="login__form" method="POST">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="username_log" type="text" class="input" ng-model="username_log">
                            <span  class="error">{{error_username_log}}</span>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="passwd_log" type="password" class="input" ng-model="passwd_log">
                            <span class="error">{{error_passwd_log}}</span>
                        </div>
                        <div class="group">
                            <input ng-click="click_login()" type="submit" id="login" class="button" value="Sign In">
                        </div>

                        <hr class="hr-text" data-content="or login with">

                        <div class="social_login">
                            <button ng-click="click_login_git()" id="login_git" class="button_git"><i id="ic_git" class="fa-brands fa-github fa-xl"></i> GIT HUB</button>
                            <button ng-click="click_login_google()" id="login_google" class="button_google"><i id="ic_google" class="fa-brands fa-google fa-xl"></i> GOOGLE</button>
                        </div>
                        <div class="hr"></div>
                        <div class="passwd_mod">
                            <label   ng-click="clcik_recover_passwd()" class="recover_passwd" id="recover_passwd"> Recover password?</label>
                            <label> | </label>
                            <label ng-click="clcik_modificate_passwd()" class="modificate_passwd" id="modificate_passwd"> Change password</label>
                            <label for="tab-2">You don't have an account?</label>
                        </div>
                    </div>
                </form>

                <form id="register__form" method="post">
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="username_reg" type="text" class="input" ng-model="username_reg">
                            <span class="error">{{error_username_reg}}</span>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="passwd1_reg" type="password" class="input" ng-model="passwd1_reg">
                            <span id="error_passwd1_reg" class="error">{{error_passwd1_reg}}</span>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="passwd2_reg" type="password" class="input" ng-model="passwd2_reg">
                            <span id="error_passwd2_reg" class="error">{{error_passwd2_reg}}</span>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="email_reg" type="email" class="input" ng-model="email_reg">
                            <span id="error_email_reg" class="error">{{error_email_reg}}</span>
                        </div>
                        <div class="group">
                            <input ng-click="click_register()" type="submit" id="register" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</label>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>