<div class="recover-passwd-html">
    <br>
    <div class="recover-form">
        <h2><b>RECOVER PASSWORD</b></h2>
        <hr>
        <form id="recover-passwd" method="post">
            <div class="group">
                <label>NEW PASSWORD</label><br>
                <input id="new_passwd1" type="password" class="input" name="new_passwd1">
                <span id="error_new_passwd1" class="error"></span>
            </div>
            <div class="group">
                <label>REPEAT PASSWORD</label><br>
                <input id="new_passwd2" type="password" class="input" name="new_passwd2">
                <span id="error_new_passwd2" class="error"></span>
            </div>
        </form>
        <br />
        <div class="button__recover">
            <button type="button" name="recover_passwd_bt" id="recover_passwd_bt">CHANGE</button>
        </div>
    </div><br><br><br><br>
</div>